
<div class="container-fluid">
	<div class="row">
		<%= image_tag("logo.png", width: 70, height: 70) %>
	</div>
	<div class="row">
		<h1 class="text-center">Rifa Amiga</h1>
		<p>Alguém solicitou uma alteração de senha para sua conta</p>
		<p>Utilize o link abaixo para alterar</p>
		<p><%= link_to 'Mudar a senha', edit_institution_password_url(@resource, reset_password_token: @token) %></p>
		<p>Caso você não tenha solicitado a alteração, ignore esse e-mail</p>
	</div>
</div>