<div class="container-fluid">
	<div class="row">
		<%= image_tag("data:image/jpeg;base64,logo.png", width: 70, height: 70) %>
	</div>
	<div class="row">
		<h1 class="text-center">O ganhador confirmou o recebimento do prêmio</h1>
		<p>A campanha <%= @raffle.title %> teve sua entrega concluída </p>
		<p>Logo mais a RifaAmiga irá depositar o valor acumulado</p>
	</div>
</div>