<div id="presentation" class="row vh-100">
   <div class="d-flex">
      <div class="col-md-12">
         <div class="row vertical-center">
         	<div class="col-md-2"></div>
         	<div class="col-md-8">
            <h1><b>Bem-vindo à Rifa Amiga</b></h1>
            </div>
         </div>
         <div class="row">
         	<div class="col-md-2"></div>
         	<div class="col-md-8">
               <h2><b>Ajudando instituições a arrecadar dinheiro e ainda com chances de ganhar prêmios</b></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <%= link_to 'Ver Campanhas', raffles_path, class: "btn btn-submit-adm mt-3" %>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="introduction" class="row vh-100">
   <div class="d-flex presentation-text">
      <div class="col-md-12">
         <div class="row">
            <h1><b>Como funciona</b></h1>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <span class="material-icons home-page-icon ">person</span>
               </div>
               <div class="row">
                  <h1>Pessoa física</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">description</span>
               </div>
               <div class="row">
                  <h2>Cadastre-se</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">search</span>
               </div>
               <div class="row">
                  <h2>Encontre uma campanha</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">payment</span>
               </div>
               <div class="row">
                  <h2>Compre números</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">watch_later</span>
               </div>
               <div class="row">
                  <h2>Aguarde o sorteio</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">card_giftcard</span>
               </div>
               <div class="row">
                  <h2>Receba o prêmio</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <span class="material-icons home-page-icon ">groups</span>
               </div>
               <div class="row">
                  <h1>Instituição</h1>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">description</span>
               </div>
               <div class="row">
                  <h2>Cadastre-se</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">open_in_new</span>
               </div>
               <div class="row">
                  <h2>Crie uma campanha</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">watch_later</span>
               </div>
               <div class="row">
                  <h2>Aguarde o sorteio</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">markunread_mailbox</span>
               </div>
               <div class="row">
                  <h2>Envie o prêmio</h2>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">paid</span>
               </div>
               <div class="row">
                  <h2>Receba o valor</h2>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>