<div id="presentation" class="row vh-100">
   <div class="d-flex">
      <div class="col-md-12">
         <div class="row vertical-center">
         	<div class="col-md-2"></div>
         	<div class="col-md-8">
            <h1><b>Bem-vindo à Rifa Amiga</b></h1>
            </div>
         </div>
         <div class="row">
         	<div class="col-md-2"></div>
         	<div class="col-md-8">
               <h2><b>Ajudando instituições a arrecadar dinheiro e ainda com chances de ganhar prêmios</b></h2>
            </div>
         </div>
         <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
               <%= link_to 'Ver Campanhas', raffles_path, class: "btn btn-submit-adm mt-3" %>
            </div>
         </div>
      </div>
   </div>
</div>
<div id="introduction" class="row vh-100">
   <div class="d-flex presentation-text">
      <div class="col-md-12">
         <div class="row">
            <h2><b>Como funciona</b></h2>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <span class="material-icons home-page-icon ">person</span>
               </div>
               <div class="row">
                  <h2>Pessoa física</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">description</span>
               </div>
               <div class="row">
                  <h3>Cadastre-se</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">search</span>
               </div>
               <div class="row">
                  <h3>Encontre uma campanha</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">payment</span>
               </div>
               <div class="row">
                  <h3>Compre números</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">watch_later</span>
               </div>
               <div class="row">
                  <h3>Aguarde o sorteio</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">card_giftcard</span>
               </div>
               <div class="row">
                  <h3>Receba o prêmio</h3>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div class="row">
                  <span class="material-icons home-page-icon ">groups</span>
               </div>
               <div class="row">
                  <h2>Instituição</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">description</span>
               </div>
               <div class="row">
                  <h3>Cadastre-se</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">open_in_new</span>
               </div>
               <div class="row">
                  <h3>Crie uma campanha</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">watch_later</span>
               </div>
               <div class="row">
                  <h3>Aguarde o sorteio</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">markunread_mailbox</span>
               </div>
               <div class="row">
                  <h3>Envie o prêmio</h3>
               </div>
            </div>
            <div class="col-md-2">
               <div class="row">
                  <span class="material-icons home-page-icon ">paid</span>
               </div>
               <div class="row">
                  <h3>Receba o valor</h3>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>