<h1 class="text-center"> Situação geral do sistema</h1>
<div class="row">
	<h3 class="text-center">Cadastros</h3>
	<div class="col-md-6">
		<canvas id="userRegistrationChart"></canvas>
	</div>
	<div class="col-md-6">
		<canvas id="institutionRegistrationChart"></canvas>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h5 class="text-center">Vendas</h3>
		<canvas id="soldChart"></canvas>
	</div>
	<div class="col-md-6">
		<h5 class="text-center">Rendimentos</h3>
		<canvas id="revenueChart"></canvas>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<h5 class="text-center">Novas Campanhas</h3>
		<canvas id="newRafflesChart"></canvas>
	</div>
	<div class="col-md-6">
	</div>
</div>