<h1 class="text-center"> Situação geral do sistema</h1>
<div class="row">
	<div class="col-md-6">
		<canvas id="soldChart"></canvas>
	</div>

	<div class="col-md-6">
		<canvas id="registrationChart"></canvas>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<canvas id="newRafflesChart"></canvas>
	</div>

	<div class="col-md-6">
		<canvas id="revenueChart"></canvas>
	</div>
</div>