<div class="container-fluid">
	<div class="row">
		<%= image_tag("logo.png", width: 70, height: 70) %>
		<h1>Rifa Amiga</h1>
	</div>
	<div class="row">
		<h2>Chegou o resultado do seu sorteio</h2>
	</div>
	<div class="row">
		<h5>Infelizmento não foi dessa vez...</h5>
		<h5>O número sorteado foi: <%= @raffle.winner_ticket.number %></h5>
		<h5>Você pode ver mais detalhes acessando o nosso site</h5>
		<%= link_to 'Acesso', Rails.configuration.action_mailer.default_url_options[:host] %>
	</div>
</div>